<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="web_username" value="brokerClient" />
    <add key="web_password" value="YmVjaGFtcGlvbg" />
    <add key="ShiftDuration" value="1440" />
    <add key="kmlimit" value="15" />
    <!-- Dummy Customer Information -->
    <add key="DummyCustomerId" value="b15d2b5c-5a4a-e911-a95e-000d3a454f67" />
    <!--MongoDB Related Information-->
    <add key="MongoDBHostName" value="mongodb://localhost:27017" />
    <!--<add key="MongoDBHostName" value="mongodb+srv://crmadmin:Rentgo123!?@cluster0-k9bbk.azure.mongodb.net/test?retryWrites=true"/>-->
    <add key="MongoDBDatabaseName" value="RentgoMongdoDB" />
    <add key="MongoDBReservationCollectionName" value="ReservationItems" />
    <add key="MongoDBEquipmentCollectionName" value="Equipments" />
    <add key="MongoDBPriceListCollectionName" value="PriceLists" />
    <add key="MongoDBGroupCodePriceListCollectionName" value="GroupCodeListPrices" />
    <add key="MongoDBAvailabilityPriceListListCollectionName" value="AvailabilityPriceLists" />
    <add key="MongoDBOneWayFeeCollectionName" value="OneWayFees" />
    <add key="MongoDBPriceCalculationSummaries" value="PriceCalculationSummaries" />
    <add key="MongoDBAvailabilityFactorCollectionName" value="AvailabilityFactors" />
    <add key="MongoDBCampaignCollectionName" value="Campaigns" />
    <add key="MongoDBPriceFactorCollectionName" value="PriceFactors" />
    <add key="MongoDBKilometerLimitCollectionName" value="KilometerLimits" />
    <add key="MongoDBVirtualBranchCollectionName" value="VirtualBranches" />
    <add key="MongoDBContractItemCollectionName" value="ContractItems" />
    <add key="MongoDBPriceCalculationSummary" value="PriceCalculationSummaries" />
    <add key="MongoDBDailyPrice" value="DailyPrices" />
    <add key="MongoDBContractDailyPrice" value="ContractDailyPrices" />
    <add key="MongoDBAvailabilityQueryAnalyzer" value="AvailabilityQueryAnalyzer" />
    <add key="MongoDBPriceEffectCollectionName" value="PriceHourEffect" />
    <add key="MongoDBLogDetail" value="CrmLogs" />
    <add key="MongoDBKilometerLimitCollectionName" value="KilometerLimits" />
    <add key="MongoDBVirtualBranchCollectionName" value="VirtualBranches" />
    <add key="MongoDBBusinessClosureCollectionName" value="BusinessClosure" />
    <!--Redis Cache-->
    <add key="RedisDatabaseNumber" value="5" />
    <add key="RedisCacheExpiration" value="2880" />
    <add key="RedisCacheConnection" value="localhost:6379,ssl=false" />
    <!--Logger-->
    <add key="logPath" value="c://brokerservicelogs" />
    <add key="isLogEnabled" value="true" />
    <add key="usethread" value="true" />
    <!--Crm Login Information-->
    <add key="username" value="web.user@mnboto.onmicrosoft.com" />
    <add key="password" value="Taj85257" />
    <add key="organizationalURL" value="https://rentuna.api.crm4.dynamics.com" />
    <add key="appId" value="4fa446f9-9e5f-454f-a0cf-556b04323a08" />
    <add key="redirectUri" value="58145B91-0C36-4500-8554-080854F2AC97" />
    <add key="connString" value="AuthType=OAuth;Username={0};Password={1};Url={2};AppId={3}; RedirectUri=app://{4};LoginPrompt=Never" />
    <add key="regionname" value="EMEA" />
    <!--<add key="orgname" value="org750be4e3" />-->
    <add key="orgname" value="org8cd0e504" />
    <!--<add key="username" value="admin@mnboto.onmicrosoft.com" />
    <add key="password" value="RntG123*.?34" />
    <add key="regionname" value="EMEA" />
    <add key="orgname" value="org8cd0e504" />-->
    <!--Crm Login Information-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Rest.ClientRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: A0592780-F652-464B-9AFC-B7D854865F01-->