<?xml version="1.0" encoding="utf-8"?>
<!--<?xml version="1.0" encoding="utf-8"?>-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogName}" />
      <appendToFile value="false" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="100KB" />

      <datePattern value="yyyy-MM-dd.log" />
      <staticLogFileName value="false" />
      <rollingStyle value="Once" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date [%thread] %c{1} - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPaymentWebService" />
        <binding name="KPSPublicSoap">
          <security mode="Transport" />
        </binding>
        <binding name="KPSPublicSoap1" />
        <binding name="KPSPublicSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="KPSPublicSoap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rentgo.netahsilatservice.com/PaymentWebService/PaymentWebService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentWebService" contract="paymentproduction.IPaymentWebService" name="BasicHttpBinding_IPaymentWebService" />
      <endpoint address="https://tckimlik.nvi.gov.tr/service/kpspublic.asmx" binding="basicHttpBinding" bindingConfiguration="KPSPublicSoap" contract="merniservice.KPSPublicSoap" name="KPSPublicSoap" />
      <endpoint address="https://tckimlik.nvi.gov.tr/service/kpspublic.asmx" binding="basicHttpBinding" bindingConfiguration="KPSPublicSoap2" contract="CitizenshipService.KPSPublicSoap" name="KPSPublicSoap1" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!--Azure Blob Storage-->
    <add key="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rentgostorage;AccountKey=w+17Rp3M3WxTs+VAfDnMGkhYVZY/QwLaZCIEWKZtSU2Ld34yz1PCkuYtXqwowkXmAFBdr+x9KgqaWwz5DU6AMA==;EndpointSuffix=core.windows.net" />
    <!--Crm Login Information-->

    <add key="username" value="web.user@mnboto.onmicrosoft.com" />
    <add key="password" value="Taj85257" />
    <add key="organizationalURL" value="https://rentuna.api.crm4.dynamics.com" />
    <add key="appId" value="4fa446f9-9e5f-454f-a0cf-556b04323a08" />
    <add key="redirectUri" value="58145B91-0C36-4500-8554-080854F2AC97" />
    <add key="connString" value="AuthType=OAuth;Username={0};Password={1};Url={2};AppId={3}; RedirectUri=app://{4};LoginPrompt=Never" />
    <add key="EntityList" value="email;rnt_payment;rnt_invoice"/>
    <add key="regionname" value="EMEA" />
    <add key="orgname" value="org8cd0e504" />
    <!--Crm Login Information-->
    <!--Redis Cache-->
    <add key="RedisDatabaseNumber" value="5" />
    <add key="RedisCacheExpiration" value="2880" />
    <add key="RedisCacheConnection" value="localhost:6379,ssl=false,abortConnect=false" />

    <!--Logger-->
    <add key="MongoDBEquipmentAvailabilityCollectionName" value="EquipmentAvailability" />

    <!--MongoDB Related Information-->
    <add key="MongoDBReservationCollectionName" value="ReservationItems" />
    <add key="MongoDBEquipmentCollectionName" value="Equipments" />
    <add key="MongoDBPriceListCollectionName" value="PriceLists" />
    <add key="MongoDBGroupCodePriceListCollectionName" value="GroupCodeListPrices" />
    <add key="MongoDBAvailabilityPriceListListCollectionName" value="AvailabilityPriceLists" />
    <add key="MongoDBOneWayFeeCollectionName" value="OneWayFees" />
    <add key="MongoDBPriceCalculationSummaries" value="PriceCalculationSummaries" />
    <add key="MongoDBAvailabilityFactorCollectionName" value="AvailabilityFactors" />
    <add key="MongoDBCampaignCollectionName" value="Campaigns" />
    <add key="MongoDBPriceFactorCollectionName" value="PriceFactors" />
    <add key="MongoDBContractItemCollectionName" value="ContractItems" />
    <add key="MongoDBPriceCalculationSummary" value="PriceCalculationSummaries" />
    <add key="MongoDBDailyPrice" value="DailyPrices" />
    <add key="MongoDBContractDailyPrice" value="ContractDailyPrices" />
    <add key="MongoDBTransferCollectionName" value="Transfers" />
    <add key="MongoDBUserBasedBonusCalculatorCollectionName" value="ContractItems_BonusUser" />
    <add key="MongoDBAvailabilityQueryAnalyzer" value="AvailabilityQueryAnalyzer" />
    <add key="MongoDBPriceEffectCollectionName" value="PriceHourEffect" />
    <add key="MongoDBCrmConfigurationCollectionName" value="CrmConfigurations" />
    <add key="MongoDBMonthlyPriceCollectionName" value="MonthlyPriceList" />
    <add key="MongoDBMonthlyGroupCodePriceCollectionName" value="MonthlyGroupCodePrice" />
    <add key="MongoDBHostName" value="mongodb://localhost:27017" />

    <!--<add key="MongoDBHostName" value="mongodb+srv://crmadmin:Rentgo123!?@cluster0-k9bbk.azure.mongodb.net/test?retryWrites=true"/>-->
    <add key="MongoDBDatabaseName" value="RentgoMongdoDB" />
    <!--MongoDB Related Information-->
    <!--Payment Information-->
    <add key="usethread" value="false" />
    <add key="DocumentTemplateGuid" value="501e6d78-900b-ea11-a811-000d3a4abb82" />
    <add key="DocumentTemplateGuidEn" value="a9230fab-bc1c-ea11-a811-000d3a2c0518" />
    <add key="MoveDate" value="2019-01-01" />


    <add key="logPath" value="C:\BatchLogs\\MongoPCSCount" />
    <add key="isLogEnabled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Thread" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.2.0" newVersion="1.40.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.2.0" newVersion="1.40.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.2.0" newVersion="1.40.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.CommonProtos" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.2.0" newVersion="1.40.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Rest.ClientRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>