<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net462" />
  <package id="DnsClient" version="1.2.0" targetFramework="net462" />
  <package id="FirebaseAdmin" version="1.9.1" targetFramework="net462" />
  <package id="GemBox.Document" version="31.0.0.1078" targetFramework="net462" />
  <package id="Google.Api.CommonProtos" version="1.7.0" targetFramework="net462" />
  <package id="Google.Api.Gax" version="2.9.0" targetFramework="net462" />
  <package id="Google.Api.Gax.Grpc" version="2.9.0" targetFramework="net462" />
  <package id="Google.Api.Gax.Rest" version="2.7.0" targetFramework="net462" />
  <package id="Google.Apis" version="1.40.2" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.40.2" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.40.2" targetFramework="net462" />
  <package id="Google.Cloud.Firestore" version="1.0.0" targetFramework="net462" />
  <package id="Google.Cloud.Firestore.V1" version="1.0.0" targetFramework="net462" />
  <package id="Google.LongRunning" version="1.1.0" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net462" />
  <package id="Grpc.Auth" version="1.22.0" targetFramework="net462" />
  <package id="Grpc.Core" version="1.22.0" targetFramework="net462" />
  <package id="Grpc.Core.Api" version="1.22.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Cors" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.42" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.25" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.42" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.0.92" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool" version="9.1.0.24" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="MongoDB.Bson" version="2.9.2" targetFramework="net462" />
  <package id="MongoDB.Driver" version="2.9.2" targetFramework="net462" />
  <package id="MongoDB.Driver.Core" version="2.9.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net462" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net462" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net462" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net462" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net462" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net462" />
</packages>