<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--MongoDB Related Information-->
    <add key="MongoDBReservationCollectionName" value="ReservationItems" />
    <add key="MongoDBEquipmentCollectionName" value="Equipments" />
    <add key="MongoDBPriceListCollectionName" value="PriceLists" />
    <add key="MongoDBGroupCodePriceListCollectionName" value="GroupCodeListPrices" />
    <add key="MongoDBAvailabilityPriceListListCollectionName" value="AvailabilityPriceLists" />
    <add key="MongoDBOneWayFeeCollectionName" value="OneWayFees" />
    <add key="MongoDBPriceCalculationSummaries" value="PriceCalculationSummaries" />
    <add key="MongoDBAvailabilityFactorCollectionName" value="AvailabilityFactors" />
    <add key="MongoDBCampaignCollectionName" value="Campaigns" />
    <add key="MongoDBPriceFactorCollectionName" value="PriceFactors" />
    <add key="MongoDBContractItemCollectionName" value="ContractItems" />
    <add key="MongoDBPriceCalculationSummary" value="PriceCalculationSummaries" />
    <add key="MongoDBDailyPrice" value="DailyPrices" />
    <add key="MongoDBContractDailyPrice" value="ContractDailyPrices" />
    <add key="MongoDBTransferCollectionName" value="Transfers" />
    <add key="MongoDBAvailabilityQueryAnalyzer" value="AvailabilityQueryAnalyzer" />
    <add key="MongoDBPriceEffectCollectionName" value="PriceHourEffect" />
    <add key="MongoDBKilometerLimitCollectionName" value="KilometerLimits" />
    <add key="MongoDBCorporateCustomerCollectionName" value="CorporateCustomers" />
    <add key="MongoDBVirtualBranchCollectionName" value="VirtualBranches" />
    <add key="MongoDBCrmConfigurationCollectionName" value="CrmConfigurations" />
    <add key="MongoDBMonthlyPriceCollectionName" value="MonthlyPriceList" />
    <add key="MongoDBMonthlyGroupCodePriceCollectionName" value="MonthlyGroupCodePriceList" />
    <add key="MongoDBCouponCodeDefinitionCollectionName" value="CouponCodeDefinition" />
    <add key="MongoDBCouponCodeCollectionName" value="CouponCode" />
    <add key="MongoDBBusinessClosureCollectionName" value="BusinessClosure" />
    <add key="MongoDBHostName" value="mongodb://localhost:27017" />
    <!--<add key="MongoDBHostName" value="mongodb+srv://crmadmin:Rentgo123!?@cluster0-k9bbk.azure.mongodb.net/test?retryWrites=true"/>-->
    <add key="MongoDBDatabaseName" value="RentgoMongdoDB" />

    <!--MongoDB Related Information-->
    <!--Payment Information-->
    <add key="usethread" value="true" />
    <add key="iyzico_apiKey" value="sandbox-FjY5OOBFaUs3lQHaQECz4nI5Qf1FvTd2" />
    <add key="iyzico_baseUrl" value="https://sandbox-api.iyzipay.com" />
    <add key="iyzico_secretKey" value="sandbox-We6z9FconUpnxrBqvqysz2UuIR9iXYnZ" />
    <!--Payment Information-->
    <!--Azure Blob Storage-->
    <add key="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rentgoproductionstorage;AccountKey=d3zPZ07IAZROSuLKQDYHH9jPzrqz8GJMGbbUojhSJONNDPEc8mpyloGZnrOoTDGATqrx+rpyU2k7RWZ7ZiZ5kw==;EndpointSuffix=core.windows.net" />
    <!--Azure Blob Storage-->
    <!--Crm Login Information-->
    <add key="username" value="web.user@mnboto.onmicrosoft.com" />
    <add key="password" value="Taj85257" />
    <add key="organizationalURL" value="https://rentuna.api.crm4.dynamics.com" />
    <add key="appId" value="4fa446f9-9e5f-454f-a0cf-556b04323a08" />
    <add key="redirectUri" value="58145B91-0C36-4500-8554-080854F2AC97" />
    <add key="connString" value="AuthType=OAuth;Username={0};Password={1};Url={2};AppId={3}; RedirectUri=app://{4};LoginPrompt=Never" />
    <add key="regionname" value="EMEA" />
    <add key="orgname" value="org750be4e3" />
    <!--Crm Login Information-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
    <httpModules></httpModules>
  </system.web>
  <system.webServer>
    <modules></modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 65E908C0-38B8-4339-94A0-F510B2441C14-->